[submodule "benchmark/stress-ng"]
	path = benchmark/stress-ng
	url = https://github.com/ColinIanKing/stress-ng
[submodule "0xtools"]
	path = 0xtools
	url = https://github.com/tanelpoder/0xtools.git
[submodule "benchmark/lmbench"]
	path = benchmark/lmbench
	url = https://github.com/intel/lmbench.git
[submodule "FlameGraph"]
	path = FlameGraph
	url = https://github.com/brendangregg/FlameGraph.git
[submodule "benchmark/pmbench"]
	path = benchmark/pmbench
	url = https://github.com/joyxu/pmbench.git
[submodule "mytools"]
	path = mytools
	url = https://github.com/yangoliver/mytools
[submodule "benchmark/c2clat"]
	path = benchmark/c2clat
	url = https://github.com/rigtorp/c2clat.git
[submodule "benchmark/multichase"]
	path = benchmark/multichase
	url = https://github.com/google/multichase.git
